// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/* CSS全要素 */
* {
    box-sizing: border-box;
}
/*共通ボディ*/
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e5ffff;
}
/*ヘッダー*/
header {
    text-align: center;
    background-color: green;
    padding: 10px;
}
/*ページリンク*/
.link {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
/*ページリンクカラー*/
.link-color {
    color: white;
    text-decoration: none;
}
/*プロフィール画像*/
.profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
}
/* ページタイトル */
.page-title {
    color: seagreen;
}
/* ページタイトル削除画面 */
.page-title-alert {
    color: red;
}
/* フラッシュメッセージ */
.flash {
    text-align: center;
}
/* フォームエラー */
.form-error {
    list-style-type: none;
}
/* 警告文 */
.alert {
    color: red;
}
/*フッター*/
footer {
    color: white;
    text-align: center;
    background-color: green;
    margin-top: auto;
}
//ユーザー一覧画面-----------------------------------------
.admin-user-index {
    margin: 10px auto;
    display: block;
}
//テーブル
.table {
}
// ユーザー削除画面----------------------------------------
.admin-delete {
    text-align: center;
    color: darkgreen;
}
//リンク
.admin-delete-link {
    display: inline-block;
    text-align: center;
    padding: 20px;
}
//ブログタイトル
.admin-delete-blog-title {
    display: inline-block;
    text-align: center;
}

//スマホ対応
@media(max-width: 670px) {
    //ヘッダー
    header {
        text-align: center;
        background-color: green;
        padding: 10px;
        width: 100%;
    }
    //通常ヘッダーリンク
    .link {
        list-style-type: none;
    }
    //各リンク
    .link-color {
        color: white;
        text-decoration: none;
    }
    //ユーザー一覧画面-----------------------------------------
    .admin-user-index {
        text-align: center;
        width: 100%;
    }
    //テーブル
    .table {
        width: 80%;
        display: inline-block;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
    /* ページタイトル */
    .page-title {
        color: seagreen;
        padding: 5px;
    }
    /* ページタイトル削除画面 */
    .page-title-alert {
        color: red;
        padding: 5px;
    }
    /*フッター*/
    footer {
        color: white;
        text-align: center;
        background-color: green;
        margin-top: auto;
        width: 100%;
    }
}