<div class="user-index">
    <h1 class="page-title">ユーザー一覧</h1>
    <!--ユーザー一覧表示-->
    <% @users.each do |user| %>
        <% if !@admin_user %>
            <% if user.image.url %>
                <%= image_tag user.image.url, class: "profile-image" %>
            <% end %>
            <div class="user-name-index">
                <%= link_to(user.name, "/blogs/user/#{user.id}") %>
                <br></br>
            </div>
        <% end %>
    <% end %>
    <br></br>
    <!--ユーザー一覧ページ表示-->
    <%= paginate @users %>
</div>
<br></br>