<div class="blog-delete">
    <h1 class="page-title">削除確認</h1>
    <br></br>
    <p>
        <strong>タイトル</strong>
        <%= @post.title %>
        <%= @post.content %>
    </p>
    <br></br>
    <br></br>
    <div class="delete-link">
        <%= link_to("削除", "/blogs/delete/#{@post.id}", method: :destroy) %>
        <%= link_to("戻る", "/blogs/show/#{@post.id}") %>
    </div>
</div>