<h1>削除確認</h1>
<br></br>
<%= link_to("戻る", "/blog/show/#{@post.id}") %>
<br></br>
<p>
    <strong>タイトル</strong>
    <%= @post.title %>
    <%= @post.content %>
</p>
<br></br>
<br></br>

<%= link_to("削除", "/blog/delete/#{@post.id}", method: :destroy) %>