<h1>ブログ一覧</h1>
<br></br>
    <table>
        <tr>
            <th>タイトル</th>
        </tr>
        <% @posts.each do |post| %>
        <tr>
            <td><%= link_to(post.title, "/blog/show/#{post.id}") %></td>
        </tr>
        <% end %>
    </table>
