// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ブログ作成画面
.blog-create {
    text-align: center;
    color: darkgreen;
}
//ブログ入力フォーム
.blog-content-form {
    display: inline-block;
    text-align: left;
    width: 80%;
    color: darkgreen;
}
// ブログ更新画面　-----------------------------------------
.blog-update {
    text-align: center;
    color: darkgreen;
}
//ブログ更新フォーム
.blog-form {
    display: inline-block;
    text-align: left;
    width: 80%;
    color: darkgreen;
}
// ブログ一覧画面 ------------------------------------------
.blog-index {
    text-align: center;
}
//ブログ一覧画面タイトル
.blog-index h1 {
    color: seagreen;
}
// ブログタイトル
.blog-title {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
//ブログ作成日
.blog-created_at {
    color: darkgreen;
    margin: 10px;
    padding: 10px;
}
//ブログジャンル
.blog-genre {
    color: darkgreen;
    padding: 10px;
    margin: 10px;
}
//ブログ検索フォーム
.blog-search-form {
    color: darkgreen;
}
//リンク
.blog-index-link {
    margin: 10px;
    padding: 10px;
}
//ユーザー名
.blog-user_name {
    margin: 10px;
    padding: 10px;
}
// ブログ詳細画面 --------------------------------------
.blog-show {
    text-align: center;
    color: darkgreen;
}
//ブログコンテンツ
.blog-content {
    display: inline-block;
    text-align: left;
    width: 80%;
}
//ユーザーリンク
.user-link{
    padding: 10px;
    margin: 10px;
}
//ユーザーリンクテーブル
.user-link-table {
    display: inline-block;
    text-align: center;
}
//コメント関係
.comment-page {
    display: inline-block;
    text-align: left;
    width: 80%;
}
//コメント
.comment {
    padding: 10px;
}
//-------------------------------------------
// ブログ削除画面
.blog-delete{
    text-align: center;
    color: darkgreen;
}
//ブログ削除内容
.blog-delete-content {
    display: inline-block;
    text-align: left;
    width: 80%;
}
//削除
.blog-delete-link {
    padding: 10px;
    margin: 10px;
}
// ブログユーザーリンク
.user-link {
    display: inline-block;
    text-align: center;
}
//ブログタイトルリンク
.blog-title-link {
    margin: 10px;
    padding: 10px;
}