// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.blog-create {
    text-align: center;
}
.blog-update {
    text-align: center;
}
.blog-index {
    text-align: center;
}
.blog-title {
    display: inline-block;
    text-align: center;
}
.blog-show {
    text-align: center;
}
.user-link {
    display: inline-block;
    text-align: center;
}