//スマホ対応
@media(max-width: 670px) {
    header {
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    //通常ヘッダーリンク
    .link {
        list-style-type: none;
    }
    //各リンク
    .link-color {
        width: 100%;
        color: white;
        text-decoration: none;
        padding: 30px;
    }
}