//スマホ対応
@media(max-width: 670px) {
    //通常ヘッダーリンク
    .link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    list-style-type: none;
    }
    //各リンク
    .link-color {
    color: white;
    text-decoration: none;
        color: white;
        text-decoration: none;
        padding: 50px;
        width: 50%;
    }
}