//スマホ対応
@media(max-width: 670px) {
    header {
        text-align: center;
        background-color: green;
        padding: 10px;
    }
    //通常ヘッダーリンク
    .link {
        list-style-type: none;
    }
    //各リンク
    .link-color {
        color: white;
        text-decoration: none;
    }
}