// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ユーザー情報画面
.user-show {
    text-align: center;
}
.user-show-title {
    padding: 10px;
    margin: 10px;
    color: darkgreen;
}
.user-show-link {
    display: inline-block;
    text-align: center;
}
.user-show-blog-title{
    display: inline-block;
    text-align: center;
}
//ユーザー編集画面
.user-edit {
    text-align: center;
}
.user-edit-form {
    display: inline-block;
    text-align: center;
}
.edit-profile-img {
    text-align: center;
}
.user-edit-link {
    text-align: center;
}
.user-index {
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: table;
}
.profile-image-index {
    display: inline-block;
    margin: 20px auto 20px auto;
}
//
.user-name-index {
    margin: 5px auto 40px auto;
    text-align: center;
}
//ログイン画面
.login {
    text-align: center;
}
//サインアップ画面
.signup {
    text-align: center;
}
.signup-form {
    display: inline-block;
    text-align: center;
}
.signup-profile-img {
    display: inline-block;
    text-align: right;
}
.user-show-link {
    padding: 10px;
}